*{
    margin: 0;
    padding: 0;
}

.container-fluid{
    height: 100vh;
    margin: 0;
    padding: 0;
}

.nav_item{
    /* border: 1px solid black; */
    border-radius: 10px;
}

.nav_item:hover{
    background-color: gray;
    color: red;
}